
.poster-page-select {
    @apply flex flex-col items-center p-5;
    label {@apply font-semibold;}
    select{@apply px-3 py-2 rounded;}
}

.poster-wrapper {
    @apply w-[700px] p-5 bg-sky-200 mx-auto my-10;

    .logo-text{
        @apply text-xl uppercase font-black leading-5;
    }

    .name{
        @apply capitalize font-bold p-0 text-red-500 text-4xl;
    }

    .candidate{
        @apply text-center text-2xl uppercase font-black  text-white
            inline-block p-2 tracking-wider rounded relative z-50;
        &::after{
            content: '';
            @apply w-full h-full absolute top-0 left-0 bg-green-500 -z-10 rounded;
        }
    }

    .sub-wrapper {
        @apply relative w-full h-full mx-auto flex flex-col rounded-lg 
            bg-white space-y-3 overflow-hidden;
    }

    .my-name-is{
        @apply font-semibold inline-block mr-auto text-sm
            text-white tracking-widest px-2 p-1 uppercase relative z-50;
        &::after{
            content: '';
            @apply w-full h-full absolute top-0 left-0 bg-black -z-10 rounded;
        }
    }

    .avatar-wrapper {
        @apply p-5 w-72 h-72 relative -left-10 border-2 border-dashed mx-auto 
            rounded-full bg-gray-100 shadow overflow-hidden cursor-pointer;
        span{
            @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
                text-center font-medium;
        }
    }

    .i-will-vote{
        @apply text-center uppercase tracking-widest font-bold py-2;
    }

    .post{
        @apply text-2xl font-black mb-5  mt-2 flex items-center justify-center gap-5;
        p{
            @apply my-1 rounded text-center capitalize text-white relative z-50 px-2 py-1;
            &::after{
                content: '';
                @apply w-full h-full absolute top-0 left-0 bg-red-500 -z-10 rounded;
            }
        }
        span{ @apply text-5xl;}
    }

    .note{
        @apply text-zinc-500 text-lg font-medium inline border-blue-400 border-b;
    }

    &.flier{
        .candidate::after, .post p::after{@apply top-3;}
        .my-name-is::after{@apply top-2;}
        .logo-text{@apply relative -top-3;}
    }
}

.download-btn{
    @apply py-5 px-10 rounded-full text-white font-bold shadow bg-green-500;
}